.box-container {
    position: relative;
    text-align: center;
    cursor: pointer;
  }
  
  .text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100%;
    font-weight: bold;
  }
  